body {
  background-image: url(../img/index_background.jpg);
}

iframe {
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}

#table table {
  border: 5px groove #ddd;
  margin-right: auto;
  margin-left: auto;
}

#table th {
  font-size: 20px;
  background-color: green;
  color:white;
  border: 5px groove #ddd;
  text-align: center;
}
#table td {
  border: 5px groove #ddd;
  padding: 20px;
}
#about.input {
  width: 25;
  height: 10;
}